<%= render "shared/header" %>

<div class="main-title">
  <h2 class='service-title'>
    CommuTとは<br>「Communication」+「Treasure」
    <br>コミュニケーションは宝物である
  </h2>
</div>

<p class='service-subtitle1'>
 すぐ見つかる。
</p>

<p class='service-subtitle2'>
 すぐ繋がる。
</p>

<p class='service-subtitle3'>
 それは、『コミュット』
</p>

<div class='main1'>
  <div class='title-contents'>
    <div class="a">
      <%= image_tag "LOVE01.png", class:"ai" %>
      <%= image_tag "test01.jpg", class:"ai" %>
      <%= image_tag "NYBIRU.jpg", class:"ai" %>
    </div>
</div>
<div class='post-contents'>
  <h2 class='post-title'>投稿一覧</h2>
  <ul class='post-lists'>

    <% @posts.each do |post| %>

      <li class='list'>
        <%= link_to post_path(post.id), method: :get do %>
          <div class='post-img-content'>
          <%= post.title %>
          <%# @tags.each do |tag| %>
          <%#= tag.tag_name %>
          <%# end %>
          </div>
        <% end %>
        <%# ここにいれる %>
      </li>
    <% end %>
  </ul>
</div>



<%= link_to new_post_path, method: :get, class: 'purchase-btn'  do %>
  <span class='purchase-btn-text'></span> 
  <%= image_tag 'touko.png' , size: '1000px' ,class: "purchase-btn-icon" %>
  <%#= image_tag 'ittoku.png' , size: '100px' ,class: "purchase-btn-icon2" %>
<% end %>

<%= render "shared/footer" %>