<%= render "shared/header" %>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="main-title">
  <h2 class='service-title'>
    CommuTとは<br>「Communication」+「Treasure」
    <br>コミュニケーションは宝物である
  </h2>
</div>

<div class='main1'>
  <div class='title-contents'>
    <div class="a">
      <%= image_tag "LOVE01.png", class:"ai" %>
      <%= image_tag "test01.jpg", class:"ai" %>
      <%= image_tag "NYBIRU.jpg", class:"ai" %>
    </div>
</div>
<div class='post-contents'>
  <h2 class='post-list-name'>投稿一覧</h2>
  <%= paginate @posts %>
  <ul class='post-lists'>

    <% @posts.each do |post| %>

      <li class='list'>
          <div class='post-title'>
            <%= link_to post_path(post.id), method: :get do %>
              <%= post.title %>
            <% end %>
          </div>
          <div class="post-tag-show">
            <% @post_tag_relation.each do |post| %>
              <%= tag.tag_name %>
            <% end %>
          </div>
      </li>
    <% end %>
  </ul>
</div>



<%= link_to new_post_path, method: :get, class: 'purchase-btn'  do %>
  <span class='purchase-btn-text'></span> 
  <%= image_tag 'touko.png' , size: '1000px' ,class: "purchase-btn-icon" %>
  <%#= image_tag 'ittoku.png' , size: '100px' ,class: "purchase-btn-icon2" %>
<% end %>

<%= render "shared/footer" %>