<header class="hed">
  <%= render "shared/header" %>
</header>

<%# 投稿概要 %>

<div class="posts-sell-contents">
  <%= "#{@post.user.name}さんの投稿表示" %>
  <div class="posts-waku">
    <div class="post-title-show">
      <%= "#{@post.title}" %>
    </div>
    <div class="post-box">
      <div class="post-tag-show">
        <div class="tag-title">タグ</div>
        <% @post.tags.each do |tag| %>
          <div class="tag-name">
          <%=tag.tag_name%>
          </div>
        <%end%>
      </div>
      <br>
      <div class="main-show">
        <%= "投稿内容：#{@post.sentence}" %>
      </div>

      <br>

      <div class="rooms-page">
        <%= link_to post_messages_path(@post), method: :get, class: 'room-btn'  do %>
          <%= image_tag 'Chatbtn.png' , size: '250x80' ,class: "room-go-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= render "shared/footer" %>
