<header class="hed">
  <%= render "shared/header" %>
</header>

<%# 投稿概要 %>

<div class="posts-sell-contents">
  <%= "#{@post.user.name}さんの投稿表示" %>
  <div class="posts-waku">
    <div class="post-title-show">
      <%= "#{@post.title}" %>
    </div>
    <div class="item-box">
      <h2 class="post-main-show">
        <br>
        <div class="tag-title">タグ</div>
        <% @post.tags.each do |tag| %>
          <div class="tag-name">
          <%=tag.tag_name%>
          </div>
        <%end%>
        </h2>
        <br>
        <%= "投稿内容：#{@post.message}" %>
    </div>
  </div>
</div>

<div class="chat-page">
  <%#= link_to post_path(post.id), method: :get do %>
</div>

<%#= render "shared/footer" %>
